:global {
  .react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
    background: #fff;
    color: #fff;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }

  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }

  .react-grid-item.react-grid-placeholder {
    background: #399;
    opacity: 0.3;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }

  .react-grid-item > .react-resizable-handle::after {
    content: '';
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }

  .react-resizable {
    position: relative;
  }
  .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: se-resize;
  }

  .nube-grid-item {
    padding: 35px 10px 10px;
    background-color: #fff;
    border: 1px solid #dde4ed;
    position: relative;
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
  }

  .nube-drag-handle {
    background-color: #fff;
    cursor: move;
    width: 100%;
    height: 25px;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.2s;
  }

  .nube-drag-handle:hover {
    background-color: #e8eef1;
  }

  .nube-grid-remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 8px;
    cursor: pointer;
    color: #000;
  }

  .nube-spinner {
    height: 100%;
  }

  .ant-spin-container {
    height: 100%;
  }

  .nube-grid-layout {
    height: 100%;
  }

  .nube-form-item-remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 8px;
    cursor: pointer;
    color: #000;
  }

  .nube-form-item-drag-handle {
    background-color: #fff;
    cursor: move;
    width: 100%;
    height: 25px;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .nube-form-item-drag-handle:hover {
    background-color: #e8eef1;
  }

  .nube-form-grid {
    width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  .nube-form-item {
    overflow: auto;
    padding: 45px 20px 20px;
    box-shadow: rgb(51, 51, 51) 3px 3px 12px 3px;
  }
}
